<div style="background-color: #1c2a48">
  <div id="heading" class="container py-4">
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #efcd58"
    >
      <a
        class="navbar-brand text-center text-dark font-weight-bold"
        style="
          font-size: x-large;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        "
        >{{ title }}</a
      >
    </nav>
    <!-- <h1>{{title}}</h1> -->
  </div>

  <app-stocks-table> </app-stocks-table>
  <a
    id="back-to-top"
    href="#"
    class="btn btn-light btn-lg back-to-top"
    role="button"
    ><i class="fa fa-custom text-info fas fa-chevron-up" aria-hidden="true"></i
  ></a>
</div>
